<%= form_for [@post,@comment,@reply] do |f| %>

  <%= f.invisible_captcha :subtitle %>

  <div class="form-field col-xs-12 col-md-8">
    <%= f.text_area :body, class: 'form-control' %>
  </div><br>

  <div class="form-field col-xs-12 col-md-8">
    <%= f.submit "Add Reply", class: "btn btn-lg btn-info" %>
  </div><br>
<% end %>
