<div class="container">
  <h3 class="font-italic comment-notes top-marg"> Edit your comment for this post </h3><br>

  <%= form_for [@post,@comment] do |f| %>
    <%= f.invisible_captcha :subtitle %>
    <div class="form-field">
      <%= f.text_area :body, class: 'form-control' %>
    </div><br>

    <div class="form-field">
      <%= f.submit "Update Comment", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
