<div class="table-container">
    <h1 class="comment-notes">Current Users: <%= User.count %></h1><br>
    <table class="user-list-table">
        <th>Emails</th>
        <th>Subscription</th>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email.truncate(20) %></td>
                <% if user.subscription? %>
                    <td class="subbed-text">Subscribed</td>
                <% else %>
                    <td class="unsubbed-text">Not Subscribed</td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
