html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  word-wrap: break-word;
  background: image-url('brickwall.png');
 }

.devise-forms {
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 4px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 4px 5px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.devise-title-font {
  font-family: "Georgia";
  font-size: 30px;
  font-style: italic;
  letter-spacing: 4px;
  color: black;
  font-weight: bold;
  text-shadow: 0.8px 1.6px 2.1px white;
}

.navvy {
  background: image-url('footer_lodyas.png');
  margin-bottom: 0px;
}

.yield-container {
  margin-top: 40px;
}

.custom-toggler.navbar-toggler {
  border-color: #001f3f;
  background-color: white;
  margin: 0 auto;
}

.cust-nav-item {
  border-bottom: 2px ridge white;
  margin-right: 10px;
  text-align: center;
}

.nav-link-font {
  color: white !important;
}

.navbar-font {
  font-family: "Georgia" !important;
  color: white !important;
  font-size: 30px;
  font-weight: bold !important;
  text-shadow: 1px 2px 3px black;
}

.nav-link:hover {
  color: #FFDC00 !important;
}

.navbar-brand:hover {
  color: #FFDC00 !important;
}

@media all and (min-width: 1030px ) {
  .background-img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: image-url('bg-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
    filter:alpha(opacity=80);
    z-index: -1;
  }
}

@media all and (max-width: 1029px ) {
  .background-img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: image-url('bg-img.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    background-size: cover;
    opacity: 0.8;
    filter:alpha(opacity=80);
    z-index: -1;
  }

}
