.blog-container {
  width: 75%;
  margin: 0 auto;
}

.blog-container::after {
  content: "";
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}

.image-div {
  height: 225px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 2px 3px black;
  -webkit-box-shadow: 1px 1px 2px 3px black;
  box-shadow: 1px 1px 2px 3px black;
  border-radius: 15px;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
}

.cover-image-show {
  border: 1px solid black;
  border-radius: 20px;

}

.comment-notes {
   font-family: "Georgia";
   color: black;
   font-weight: bold;
   text-shadow: 0.6px 1.1px 1.6px grey;
   letter-spacing: 2px;
   font-size: 18px;
}

.guest-text {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 22px;
  text-shadow: 0.3px 0.5px 0.8px black;
  letter-spacing: 2px;
}

.blog-post-banner-text {
  text-shadow: 1px 1px 2px grey;
}

.comment-section {
  padding: 15px;
  font-family: "Georgia";
  font-size: 17px;
  background: white;
  margin-bottom: 15px;
  border-radius: 10px;
}

.title-font {
  font-family: "Georgia";
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0.6px 1.2px 1.6px grey;
}

.like-text-comment {
   margin-right: 5px;
   color: blue;
   font-family: "Georgia";
   color: blue;
   font-weight: bold;
}

.comment-header {
  font-family: "Georgia";
  font-weight: bold;
  letter-spacing: 2px;
}

.reply-to-comment {
  color: blue;
  font-family: "Georgia";
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.like-text-post {
  margin-right: 5px;
  font-family: "Georgia";
  color: blue;
  font-weight: bold;
  text-shadow: 0.4px 0.8px 1px grey;
  font-size: 18px;
}

.like-container:hover {
  cursor: pointer;
}

.like-post-container {
  font-size: 20px;
}

.like-post-container:hover {
  cursor: pointer;
}

.banner-title-text {
  font-size: 35px;
  text-shadow: 0.8px 1.6px 2.1px black;
}

.reply-display {
  width: 75%;
  margin-left: 50px;
}

.blog-banner {
  background: image-url('footer_lodyas.png');
  color: white;
  width: 60%;
  border-radius: 50px;
  margin: 0 auto;
}

.guest-text {
  color: #FFDC00 !important;
}

.current-users-txt {
  color: #FFDC00;
  text-shadow: 0.4px 0.8px 1.2px black;
}

.current-users-txt:hover {
  color: white;
}

.rfp-btn {
  background: #0074D9;
  background: -webkit-linear-gradient(#0074D9,#7FDBFF);
  background: -o-linear-gradient(#0074D9,#7FDBFF);
  background: -ms-linear-gradient(#0074D9,#7FDBFF);
  background: linear-gradient(#0074D9,#7FDBFF);
}

.edit-post-container > h1 {
  text-align: center;
}
.post-show-title-image-banner {
  margin: 0 auto;
  width: 600px;
  height: 400px;
}

.post-show-title-image-banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
}

.post-show-title {
  margin: 0 auto;
}

@media all and (max-width: 535px ) {
  .title-font {
    font-family: "Georgia";
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0.4px .8px 1px grey;
  }
}

@media all and (max-width: 765px) {
  .reply-container {
    text-align: right !important;
  }

  .comment-section {
    margin-bottom: 15px;
  }

  .border-reply {
    border-bottom: none;
  }

  .blog-banner {
    border-radius: 30px;
    width: 75%;
  }

  .ud-reply {
    text-align: right;
  }
}
