.blog-container {
  width: 75%;
  margin: 0 auto;
}

.blog-container::after {
  content: "";
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}

.image-div {
  height: 225px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  -moz-box-shadow: 1px 1px 2px 3px black;
  -webkit-box-shadow: 1px 1px 2px 3px black;
  box-shadow: 1px 1px 2px 3px black;
}

.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0px;
}

.comment-notes {
   font-family: "Georgia";
   color: black;
   font-weight: bold;
   text-shadow: 0.6px 1.1px 1.6px grey;
   letter-spacing: 2px;
   font-size: 18px;
}

.guest-text {
  font-family: "Georgia";
  font-weight: bold;
  font-size: 22px;
  text-shadow: 0.3px 0.5px 0.8px black;
  letter-spacing: 2px;
}

.blog-post-banner-text {
  text-shadow: 1px 1px 2px grey;
}

.comment-section {
  padding: 20px;
}

.title-font {
  font-family: "Georgia";
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: bold;
  text-shadow: 0.8px 1.6px 2.1px grey;
}
