.table-container {
    margin-bottom: 25px;
}

.table-container > .comment-notes {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.table-container > table {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
.user-list-table, .user-list-table td, .user-list-table tr, .user-list-table th {
  border: 2px solid black;
  border-collapse: collapse;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.subbed-text {
  color: blue;
}

.unsubbed-text {
  color: red;
}

.visit-black {
  font-size: 18px !important;
  font-weight: bold;
}

.visit-green {
  font-size: 18px !important;
  font-weight: bold;
  color: #00e64d !important;
}

.visit-blue {
  font-size: 18px !important;
  font-weight: bold;
  color: blue !important;
}

.visit-red {
  font-size: 18px !important;
  font-weight: bold;
  color: red !important;
}

.ahoy-visits {
  text-align: center;
  margin-bottom: 10px;
}

@media all and (max-width: 768px ) {

  .table-container > table {
    width: 500px;
  }
}


@media all and (max-width: 535px ) {
  .user-list-table {
    font-size: 12px;
  }

  .table-container > table {
    width: 250px;
  }
}
