<div class="row">
    <div class="col-md-12">
        <div class="jumbotron text-center blog-banner">
            <h1 class="font-italic title-font">Robin And Gloria's Blog Posts</h1>
            <% if current_user && current_user.subscription? %>
               <%= link_to "Unsubscribe", subscribe_posts_path, class: "btn btn-lg btn-info" %>
            <% elsif current_user %>
               <p class="guest-text text-info"> Click subscribe for email notifications of new posts</p>
               <%= link_to "Subscribe", subscribe_posts_path, class: "btn btn-lg btn-info" %>
            <% else %>
                <p class="guest-text text-info">Sign up or log in to an existing account to enjoy full access</p>
            <% end %>
        </div>
    </div>
</div><br>

<% if current_user && current_user.admin? %>
    <div class="row">
        <div class="col-md-12 text-center">
            <%= link_to "Create New Post", new_post_path, class: "btn btn-success btn-lg" %>
        </div>
    </div><br>
<% end %>

<%= render 'posts' %>
